{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Author {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="authorid">Author ID</label>
        <input type="text" name="authorid"
               placeholder="author ID" class="form-control"
               value="{{ request.form['authorid'] }}"></input>
    </div>
    <div class="form-group">
        <label for="bookid">Author BookID</label>
        <input type="text" name="bookid"
               placeholder="Author bookid" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>
    <div class="form-group">
        <label for="name">Author Name</label>
        <input type="text" name="name"
               placeholder="Author name" class="form-control"
               value="{{ request.form['name'] }}"></input>
    </div>
    <div class="form-group">
        <label for="priority">Priority</label>
        <input type="text" name="priority"
               placeholder="Author priority" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}