{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
    <h1>{% block title %} <center> Book list </center> {% endblock %}</h1>
    <center>
    <form action="{{ url_for('searchbook') }}" method ="post">
        <input name="title" type="id" placeholder="Search book" />
        <button>Search</button>
    </form>
    </center>
    {% for book in books %}
            <h2>Book title : {{ book.title }}</h2>
            {% for author in authors %}
                {% if book.authorid == author.authorid%}
                    Author : {{ author.name }}
                {% endif %}
            {% endfor %}
        <br>
        <a href="{{ url_for('editbook',id= book.bookid) }}">Edit Book</a>
        <span class="badge badge-primary">{{ book['created'] }}</span>
        <hr>
    {% endfor %}
    <a href="{{ url_for('createbook')}}">Create book</a>
    {% endautoescape %}
{% endblock %}