{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} <center> Author list </center> {% endblock %}</h1>
    {% for author in authors %}
            <h1><li>Author name : {{ author.name }}</li></h1>
            <a href="{{ url_for('editauthor',id= author.authorid) }}">Edit Author</a>
            {% for book in books %}
                {% if book.authorid == author.authorid %}
                    <li>Author book : {{ book.title }}</li>
                {% endif%}
            {% endfor %}
            <li>Author priority : {{ author.priority }}</li>
        <span class="badge badge-primary">{{ author['created'] }}</span>
        <hr>
    {% endfor %}
    <a href="{{ url_for('createauthor')}}">Create Author</a>
{% endblock %}